<div class="row">
    <div class="container col-lg-6">
        <h2>Login</h2>

        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="loginError != null">
            <button type="button" class="close" aria-label="Close" ng-click="loginError = null">
                <span aria-hidden="true">&times;</span>
            </button>
            {{loginError}}
        </div>

        <div class="form-group">
            <label for="login-identifier">Username</label>

            <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="text" class="form-control" id="login-identifier" ng-model="login.username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="password" class="form-control" ng-model="login.password" id="login-password"/>
        </div>

        <button class="btn btn-primary" ng-click="performLogin()">Login</button>
        <button class="btn btn-default" ng-click="cancelLogin()">Cancel</button>
    </div>
    <div class="container col-lg-6">
        <h2>You're 2 seconds from the dream!</h2>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="registerError != null">
            <button type="button" class="close" aria-label="Close" ng-click="registerError = null">
                <span aria-hidden="true">&times;</span>
            </button>
            {{registerError}}
        </div>

        <div class="form-group">
            <label for="register-username">Choose a cool username</label>

            <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="text" class="form-control" id="register-username" ng-model="newUser.username"
                       placeholder="eg. @hhlammerville, @ilovewakanda"/>
            </div>
        </div>
        <div class="form-group">
            <label for="register-email">Enter your email address</label>
            <input type="email" class="form-control" id="register-email" ng-model="newUser.email"
                   placeholder="eg. herve@domain.com"/>
        </div>
        <div class="form-group">
            <label for="register-password">Enter your password, twice</label>
            <input type="password" class="form-control" ng-model="newUser.passwordFirstCheck" id="register-password"
                   placeholder="Password">
            <input type="password" class="form-control voffset5" ng-model="newUser.passwordSecondCheck"
                   placeholder="Once gain!">
        </div>
        <div class="form-group">
            <label for="register-description">Make your subscribers addict with a lovely description</label>
                <textarea type="text" class="form-control" id="register-description" rows="3"
                          ng-model="newUser.description"
                          placeholder="eg. I'm 22 yo & I'm keen on developing apps using Wakanda tools - ok this is not the most objective part of the form."></textarea>
        </div>

        <button class="btn btn-primary" ng-click="performRegister()">Regiser !</button>
        <button class="btn btn-default" ng-click="cancelRegister()">Cancel</button>
    </div>
</div>