<div ng-controller="NavBarController">
    <nav class="navbar navbar-default navbar-fixed-top row">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Twitter</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div ng-if="!loggedIn">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="loggedIn">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Activity Feed</a>
                        </li>
                    </ul>
                    <div class="col-sm-6 col-md-6">
                        <form class="navbar-form" ng-submit="postTweet()">
                            <div class="input-group">
                                <input ng-model="$parent.tweetText" type="text" class="form-control" size="40" maxlength="140" placeholder="Post a tweet">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Tweet</button>
                                </div>
                            </div>
                            <div class="checkbox text-muted">
                                {{$parent.tweetText.length}}/140
                            </div>
                        </form>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <a ng-href="#/profile/{{currentUser.id}}"><button type="button" class="btn btn-primary navbar-btn navbar-btn-highlighted">Profile</button></a>
                        <button type="button" class="btn btn-default navbar-btn navbar-btn-discret" ng-click="performLogout()">Logout</button>
                    </div>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
</div>