<div class="modal-header"><h2>Tweet to <span class="primary-color">{{originalTweet.author.username}}</span></h2></div>

<div class="modal-body">
    <div class="form-group">
        <label for="tweet-reply-content" class="modal-form-input-header">In reply to <span><i>"{{originalTweet.text}}"</i></span></label>
        <input type="text" class="form-control" id="tweet-reply-content" ng-model="reply.text" placeholder="Reply here" maxlength="140" autofocus="">
        <p class="counter">{{140 - reply.text.length}} car.</p>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Tweet</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>